project:
  type: website
  output-dir: docs
  resources: data

website:
  title: "Paul Bürkner"
  image: images/paul-buerkner-small.png
  # cookie-consent: true
  search: 
    location: navbar
    type: textbox
  navbar:
    background: primary
    pinned: true
    left:
      # - text: About
      #   href: index.qmd
      - text: Research 
        href: research/index.qmd
      - text: People
        href: people/index.qmd
      - text: Projects
        href: projects/index.qmd
      - text: Publications
        href: publications/index.qmd
      - text: Software
        href: software/index.qmd
      - text: CV
        href: cv/index.qmd
    right:
    - icon: envelope
      aria-label: email
      href: "mailto:paul.buerkner@gmail.com"
    - icon: github
      href: https://github.com/paul-buerkner
    - icon: google
      href: https://scholar.google.com/citations?user=JSj6m1IAAAAJ&hl
    - icon: twitter
      href: https://twitter.com/paulbuerkner
    - icon: mastodon
      href: https://fosstodon.org/@paul_buerkner
  page-footer: 
    left: "Copyright 2023, Paul Bürkner" 
    right: 
      - text: Impressum
        href: impressum/index.qmd

format:
  html:
    fontsize: 1.1em
    theme:
      light: flatly
      dark: darkly
    css: styles.css
